* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}

table {
    margin: 4px;
}

#editar {
    background-color: blue;
}

#editar a {
    color: white;
}

#apagar {
    background-color: red;
}

#apagar a {
    color: white;
}

#editar span, #apagar span {
    padding: 4px;
}

#btn_adicionar {
    margin: 4px;
    background-color: green;
}

#btn_adicionar a {
    color: white;
    text-decoration: none;
}

#btn_adicionar span {
    padding: 4px;
}